.Toolbar {
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
  height: 56px;
  z-index: 10;
  background: inherit;
}
.Toolbar__nav {
  background-color: white;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgb(189, 187, 187);
}

.Toolbar__logo {
  display: flex;
}
.Toolbar__logo__title h1 {
  margin: 0px 10px;
}
.Toolbar__logo__title p {
  margin: 0px 10px;
}

.Toolbar__navigation-items {
  display: flex;
}
