.Box__Item {
  border: 1px solid gray;
  padding: 5px;
  display: flex;
}
.Label__Dropdown-item__Spacing {
  padding: 0.7rem;
  justify-content: space-between;
}

.Checkbox__Style {
  padding: 0.7rem;
}

.Dropdown__Item {
  border: none;
  background-color: white;
  cursor: pointer;
}

.Label__Styling {
  margin: 1px;
  padding: 10px;
}

.Description__Box {
  padding: 10px;
  border-left: 1px solid gray;
  border-right: 1px solid gray;
}
