.Box__Item {
  border: 1px solid rgb(221, 221, 221);
  box-shadow: 0px 0px 5px rgb(221, 221, 221);
  padding: 5px;
  display: inline-flex;
  width: 50%;
}
.Label__Dropdown-item__Spacing {
  padding: 0.7rem;
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
}

.Checkbox__Style {
  padding: 0.7rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Checkbox__Style-container {
  width: 17px;
  height: 17px;
  border: 1px solid gray;
  border-radius: 3px;
  cursor: pointer;
}
.CheckBox-styling {
  padding: 0.8rem 0.7rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.CheckBox-styling img:hover {
  cursor: pointer;
}

.Dropdown__Icon {
  border: solid rgb(0, 162, 255);
  border-width: 0 4px 4px 0;
  display: inline-block;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  padding: 4px;
  background-color: white;
  cursor: pointer;
}
.Dropdown__Icon-open {
  border: solid rgb(0, 162, 255);
  border-width: 0 4px 4px 0;
  display: inline-block;
  transform: rotate(225deg);
  -webkit-transform: rotate(225deg);
  padding: 4px;
  background-color: white;
  cursor: pointer;
}

.Label__Styling {
  margin: 1px;
  padding: 10px;
  display: flex;
  text-align: left;
  font-weight: 500;
}

.Description__Box {
  padding: 5px;
  width: 50%;
  display: inline-flex;
  border-left: 1px solid rgb(221, 221, 221);
  border-right: 1px solid rgb(221, 221, 221);
  border-bottom: 1px solid rgb(221, 221, 221);
  box-shadow: 0px 0px 3px rgb(221, 221, 221);
}

@media (max-width: 921px) {
  .Box__Item {
    width: 85%;
  }
  .Description__Box {
    width: 85%;
  }
}
