.Box__Item {
  border: 1px solid gray;
  padding: 5px;
  display: flex;
}
.Label__Dropdown-item__Spacing {
  padding: 0.7rem;
  justify-content: space-between;
}

.Checkbox__Style {
  padding: 0.7rem;
}

.Dropdown__Item {
  border: solid rgb(51, 123, 238);
  border-width: 0 3px 3px 0;
  display: inline-block;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  padding: 4px;
  background-color: white;
  cursor: pointer;
}

.Label__Styling {
  margin: 1px;
  padding: 10px;
}

.Description__Box {
  padding: 10px;
  border-left: 1px solid gray;
  border-right: 1px solid gray;
  border-bottom: 1px solid gray;
}
