.Item__List {
  border: 1px solid rgb(26, 149, 250);
  border-radius: 20px;
  margin: 15px 7px;
  padding: 10px 15px;
  height: 10px;
}

.Item__List:hover {
  cursor: pointer;
  background-color: rgb(26, 149, 250);
}

.Text-alignment {
  align-content: space-around;
}
